<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">{{'Home.view.Home' | translate }}</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    <div style="height: 60px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-909305">
      &nbsp;
    </div>
  </ion-content>
</ion-view>