<ion-view class="pane">
    <ion-content data-container="true" data-component="crn-ion-content" class="scroll-content menu-view">
        <ion-list class=" disable-user-behavior list">
            <!-- Menu -->
            <div class="component-holder" data-component="crn-navbar" id="menu-blue">
                <div class="nav navbar-nav">
                    <a menu-close="" class="item item-icon-left component-holder" xattr-position="item-icon-left" href="#/app/public/home" data-component="crn-list-item-icon" id="crn-list-item-icon29401"><i class="icon ion ion-home light" xattr-theme="light" style="font-size: 150%;" xattr-icon-size="font-size:150%;"></i>
                        <div class="item-content text-left" xattr-text-position="text-left">
                            <h2 class="light" xattr-theme="light">{{ "Home.view.Home" | translate }}</h2>
                        </div> </a>
                    <a menu-close="" class="item item-icon-left component-holder" xattr-position="item-icon-left" href="#/app/login" data-component="crn-list-item-icon" id="crn-list-item-icon87931"><i class="icon ion ion-arrow-right-c light" xattr-theme="light" style="font-size: 150%;" xattr-icon-size="font-size:150%;"></i>
                        <div class="item-content text-left" xattr-text-position="text-left">
                            <h2 class="light" xattr-theme="light">{{"Login.view.Login" | translate}}</h2>
                        </div> </a>
                </div>
            </div>
            <!-- Menu -->
        </ion-list>
    </ion-content>
</ion-view>